

let localConfig = {
  poolSize : 100,  
  host     : 'localhost',
  port     : '3306',
  database : 'benim-portfolio',
  user     : 'root',
  password : 'root',
};

let herokuConfig = {
  poolSize : 100,  
  host     : 'us-cdbr-east-04.cleardb.com',
  port     : '3306',
  database : 'heroku_d43789b3d136e5e',
  user     : 'bfd9bf6ebb77e5',
  password : '15e429bd',
};


module.exports = localConfig;  // herokuConfig
